<header>
    <div class="container">
        <nav>
            <h1 class="home-btn">SHOE PARADISE</h1>
        </nav>
    </div>
</header>
<div class="container">
    <div class="cart-menu">
        <h2 id="account-details-heading">Wishlist</h2>
        <div class="back-container">
            <a href="/user">
                <img src="/images/icons/back.png" alt="">
                <div id="back-button">Back to Home</div>
            </a>
        </div>
    </div>
    <section class="wishlist-section">
        {{#if wishlistItems }}
        {{#each wishlistItems}}
        <div class="shoeContainer" data-shoe-id="{{this.id}}">
            <img src="{{this.img_src}}" alt="" class="shoeImage">
            <p>{{this.name}}</p>
            <p class="shoeBrand">{{this.brand}}</p>
            <div class="sizeAndColourContainer">
                <p class="shoeSize">Size: <span id="sizeWishlist"> {{this.size}}</span></p>
                <p class="shoeColour">Colour: <span id="colourWishlist">{{this.colour}}</span></p>
            </div>
            <p class="shoePrice">R{{this.price}}</p>
            <p class="shoeStock">{{this.in_stock}} in stock</p>
            <div class="centeredBtnContainer">
                <button class="removeFromWishlistBtn">REMOVE FROM WISHLIST</button>
            </div>
        </div>
        {{/each}}
        {{else}}
        <div>No items</div>
        {{/if}}
    </section>
</div>
<script src="/js/wishlist.js"></script>